@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.awssld__content {
  background-color: transparent !important;
}

.inner-shadow {
  position: relative;
  overflow: hidden;
}

.inner-shadow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 500%;
  box-shadow: inset 0px -300px 100px rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.swiper-pagination-bullet-active {
  background-color: #1b2d1d !important;
}

.text-shadow {
  text-shadow: 1px 1px 2px black;
}

.benefits-bg-image {
  /*background-image: url(../../public/image/benifits/benefits2.png);*/
  background: url(../../public/image/benifits/benefits2.png) no-repeat center
    center fixed;
}
